.rowHeader {
  height: 100px;
  border-bottom: solid 2px black;
  border-top: solid 2px black;
  background-color: #eed09d; }

.loginPosition {
  height: 100%;
  align-items: flex-start;
  padding: 5px; }

.nav-item:hover {
  background-color: #7ec850; }

li {
  border: solid 1px black;
  margin: 1%; }

i {
  color: black; }

.navFooter {
  align-items: center;
  justify-content: center;
  background-color: #eed09d;
  margin-top: 10px; }
  .navFooter a {
    color: black; }
  .navFooter li {
    margin: 2%; }
