$backgroundHeaderFooter: rgb(238, 208, 157);

.rowHeader {
    height: 100px;
    border-bottom: solid 2px black;
    border-top: solid 2px black;
    background-color: $backgroundHeaderFooter;
}

.loginPosition {
height: 100%;
align-items:flex-start;
padding: 5px;
}

.nav-item:hover {
  background-color: rgb(126,200,80);
}

li {
    border: solid 1px black;
    margin: 1%;
}

i {
    color: black;
}

.navFooter {
    align-items: center;
    justify-content: center;
    background-color: $backgroundHeaderFooter;
    margin-top: 10px;

    & a {
        color: black;
    }

    & li {
        margin: 2%;
    }

}





